@use '../styles/' as f;

.button {
  background-image: linear-gradient(to right, var(--clr-primary-lime-green) 0%, var(--clr-primary-bright-cyan) 50%);
  margin: f.rem(10);
  padding: f.rem(15) f.rem(45);
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: var(--fs-300);
  white-space: nowrap;
  align-self: start;
  transition: 0.3s;
  background-size: 200% auto;
  color: var(--clr-neutral-white);
  border: none;
  border-radius: f.rem(70);
  display: block;
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  background-image: linear-gradient(to right, var(--clr-primary-bright-cyan-hover), var(--clr-primary-lime-green-hover));
}
