@use '../styles/' as f;

.footer {
  background-color: var(--clr-primary-dark-blue);
  display: flex;
  justify-content: space-between;
  height: f.rem(200);
  padding: f.rem(40) var(--space);

  .wrapper {
    display: flex;
    gap: f.rem(150);

    .link-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: f.rem(80);
      white-space: nowrap;

      .link {
        color: var(--clr-neutral-white);
        font-size: var(--fs-300);
        text-decoration: none;
        text-transform: capitalize;
        transition: .3s;
      }

      .link:hover {
        color: var(--clr-primary-lime-green);
      }
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;

    .copyright {
      color: var(--clr-neutral-grayish-blue);
      text-transform: capitalize;
      font-size: var(--fs-300);
    }
  }
}
