@use '../styles/' as f;
@use '../styles/mixins' as u;

.footer {
  background-color: var(--clr-primary-dark-blue);
  display: flex;
  justify-content: space-between;
  min-height: f.rem(200);
  padding: f.rem(40) var(--space);

  @include u.breakpoint-down(md) {
    flex-direction: column;
    text-align: center;
  }

  .links {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;

    @include u.breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    ul {
      list-style: none;
      list-style-position: inside;
      padding-left: 0;

      @include u.breakpoint-down(md) {
        margin-bottom: 0;
        margin-top: 0;
      }

      li {
        margin-bottom: f.rem(10);
      }
    }

    ul:first-child {
      margin-left: 8vw;
      margin-right: 8vw;

      @include u.breakpoint-down(md) {
        margin: f.rem(30) 0 0% 0;
      }
    }

    ul:last-child {
      @include u.breakpoint-down(md) {
        margin-bottom: f.rem(30);
      }
    }

    .link {
      color: var(--clr-neutral-white);
      text-decoration: none;
      font-size: var(--fs-300);
      text-transform: capitalize;
      transition: 0.3s;
    }

    .link:hover {
      color: var(--clr-primary-lime-green);
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: f.rem(20);
    
    @include u.breakpoint-down(md) {
      align-items: center;
      text-align: center;
      margin-top: 0;
    }

    p {
      color: var(--clr-neutral-grayish-blue);
      text-transform: capitalize;
      font-size: var(--fs-300);

      @include u.breakpoint-down(md) {
        margin-top: f.rem(30);
      }
    }
  }
}
