@use '../styles/functions' as f;

.container {
  padding-left: var(--space);
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  align-items: center;
  background-color: var(--clr-neutral-very-light-gray);
  position: relative;

  .wrapper {
    color: var(--clr-primary-dark-blue);
    padding: f.rem(165) 0 f.rem(165) 0;

    .heading {
      font-size: var(--fs-700);
      font-weight: 300;
      line-height: 1.2;
    }

    .paragraph {
      color: var(--clr-neutral-grayish-blue);
      padding: f.rem(10) 0;
    }
  }

  .background {
    background-image: url('../assets/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: 0 65%;
    min-height: 100%;

    & .hero-illustration {
      transform: translateX(110px);
      overflow-x: hidden;
      position: absolute;
      inset: f.rem(-120) 0 0 f.rem(620);
    }
  }
}
