@use '../styles/' as f;
@use '../styles/mixins' as u;

.backdrop {
  position: fixed;
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-dark-blue-transparent) 0%,
    var(--clr-neutral-white-transparent) 100%
  );
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.modal-wrapper {
  z-index: 2;
  background-color: var(--clr-neutral-white);
  width: 80vw;
  border-radius: f.rem(5);

  position: fixed;
  top: f.rem(90);
  left: var(--space);

  will-change: transform;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    ul {
      list-style: none;
      text-transform: capitalize;
      list-style-position: inside;
      padding-left: 0;

      li {
        a {
          color: var(--clr-primary-dark-blue);
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      li:not(:last-child) {
        padding-bottom: f.rem(20);
      }

      li:first-child {
        padding-top: f.rem(20);
      }
      
      li:last-child {
        padding-bottom: f.rem(20);
      }
    }
  }
}

// @include u.breakpoint(md) {
//   .modal-wrapper {
//     width: calc(100vw - var(--space));
//   }
// }

// @include u.breakpoint(lg) {
//   .modal-wrapper {
//     width: calc(100vw - var(--space));
//   }
// }

// @include u.breakpoint(xl) {
//   .modal-wrapper {
//     width: calc(100vw - var(--space));
//   }
// }
