@forward './styles';
@use './styles' as f;
@use './styles/mixins' as u;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* ---------------------------- */
/* Custom Properties            */
/* ---------------------------- */
:root {
  /* Colors */
  /* This is the modern way of writing hsl values to do an alpha trick (see example colors section)  */
  --clr-primary-dark-blue: hsl(233, 26%, 24%);
  --clr-primary-lime-green: hsl(136, 65%, 51%);
  --clr-primary-bright-cyan: hsl(192, 70%, 51%);
  
  --clr-primary-lime-green-hover: hsl(136, 58%, 55%);
  --clr-primary-bright-cyan-hover: hsl(192, 70%, 64%);
  
  --clr-neutral-grayish-blue: hsl(233, 8%, 62%);
  --clr-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-neutral-very-light-gray: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  
  --clr-primary-dark-blue-transparent: hsl(233, 26%, 24%);
  --clr-neutral-white-transparent: hsla(0, 0%, 100%, 0.205);
  /* Font Sizes */
  // You can use the property clamp if you want to:
  // clamp(28px, 16px + 2vw, 40rem) which is ==>
  // clamp(1.75rem, 1rem + 2vw, 2.5rem)
  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-650: 3rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  // spacing
  --space: 1.5rem;
}

@include u.breakpoint(md) {
  :root {
    --space: 3rem;
  }
}

@include u.breakpoint(lg) {
  :root {
    --space: 4.5rem;
  }
}

@include u.breakpoint(xl) {
  :root {
    --space: 6rem;
  }
}
/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
picture,
figure {
  margin: 0;
}

/* Fix font weight problem */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up body */
body {
  font-family: 'Public Sans', sans-serif;
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font-family: inherit;
}

body {
  overflow-x: hidden;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
