@forward './styles';
@use './styles' as f;
@use './styles/mixins' as u;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* ---------------------------- */
/* Custom Properties            */
/* ---------------------------- */
:root {
  /* Colors */
  --clr-primary-dark-blue: hsl(233, 26%, 24%);
  --clr-primary-lime-green: hsl(136, 65%, 51%);
  --clr-primary-bright-cyan: hsl(192, 70%, 51%);
  
  --clr-primary-lime-green-hover: hsl(136, 58%, 55%);
  --clr-primary-bright-cyan-hover: hsl(192, 70%, 64%);
  
  --clr-neutral-grayish-blue: hsl(233, 8%, 62%);
  --clr-neutral-light-grayish-blue: hsl(220, 16%, 96%);
  --clr-neutral-very-light-gray: hsl(0, 0%, 98%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  
  --clr-primary-dark-blue-transparent: hsl(233, 26%, 24%);
  --clr-neutral-white-transparent: hsla(0, 0%, 100%, 0.205);

  /* Font Sizes */
  --fs-200: clamp(0.844rem, 0.8233rem + 0.0919vw, 0.906rem);
  --fs-300: clamp(0.938rem, 0.8963rem + 0.1852vw, 1.063rem);
  --fs-400: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --fs-500: clamp(1.5rem, 1.3333rem + 0.7407vw, 2rem);
  --fs-600: clamp(1.5rem, 1.1667rem + 1.4815vw, 2.5rem);
  --fs-700: clamp(1.875rem, 0.7500rem + 5.0000vw, 3.375rem);

  // spacing
  --space: clamp(2rem, 0.6667rem + 5.9259vw, 6rem);
}

/* ---------------------------- */
/* Reset                        */
/* ---------------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
picture,
figure {
  margin: 0;
}

/* Fix font weight problem */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up body */
body {
  font-family: 'Public Sans', sans-serif;
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-dark));
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font-family: inherit;
}

body {
  overflow-x: hidden;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
